@model RutasTrujilloV2.Models.Empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresa</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruc)
        </dd>

    </dl>
</div>
<h4>@Html.ActionLink("Lista de Rutas","VerRuta",new { id = Model.IdEmpresa })|
    @Html.ActionLink("Tarifarios", "VerTarifa", new { id = Model.IdEmpresa })|    
    @Html.ActionLink("Vehiculos", "VerVehiculo", new { id = Model.IdEmpresa })</h4>
<p>
@if (User.IsInRole("administrador")) {
    @Html.ActionLink("Edit ", "Edit", new { id = Model.IdEmpresa })
}
    @Html.ActionLink("Back to List", "Index")
</p>
