@model IEnumerable<RutasTrujilloV2.Models.Empresa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresas</h2>
@if (User.IsInRole("administrador"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ruc)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.IdEmpresa }) 
            @if (User.IsInRole("administrador"))
            {
                @Html.ActionLink("Edit ", "Edit", new { id = item.IdEmpresa }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEmpresa })
            }
        </td>
    </tr>
}

</table>
