@model RutasTrujilloV2.Models.Ruta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ruta</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

    </dl>
</div>
<h4>
    @Html.ActionLink("Lista de Horarios", "VerHorario", new { id = Model.IdEmpresa })|
    @Html.ActionLink("Puntos", "VerPunto", new { id = Model.IdEmpresa })
</h4>
<p>
    @if (User.IsInRole("administrador"))
    {
        @Html.ActionLink("Edit ", "Edit", new { id = Model.IdRuta })
    }
        @Html.ActionLink("Back to List", "Index")
</p>
