@model IEnumerable<RutasTrujilloV2.Models.Horario>

@{
    ViewBag.Title = "VerHorario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Horario</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoraSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraLlegada)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>